<div x-show="selected === 'option-2'" class="">
  <div class="pa4 black-80 flex ">
    <div class="w-25 mr2">
      <div role="img" aria-label="The Big Short movie" class="aspect-ratio--4x6" style="
        background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/the-big-short.jpg)
          no-repeat center center;
        background-size: cover;
        "></div>
    </div>
    <div class="w-75">
      <label for="akta" class="fw7 b db mb2">Jenis Akta</label>
      <select id="akta" class="input-reset ba b--black-20 pa2 mb2 db w-50">
        <option value="ajb">AJB</option>
        <option value="apht">APHT</option>
        <option value="aphb">APHB</option>
        <option value="hibah">HIBAH</option>
        <option value="tukarmenukar">Tukar Menukar</option>
      </select>
      <small class="f6 black-60 db mb2">Contoh : AJB</small>
      <label for="name" class="fw7 b db mb2">Nomor</label>
      <input id="nomor" class="input-reset ba b--black-20 pa2 mb2 db w-50" type="text" minlength="1" maxlength="3"
        aria-describedby="name-desc" required />
      <small class="f6 black-60 db mb2">Contoh : 123</small>
      <label for="name" class="fw7 b db mb2">Tanggal</label>
      <!-- <input
type="date"
min="1997-01-01"
max="2030-12-31"
placeholder="dd-mm-yyyy"
name="date"
class="input-reset ba b--black-20 pa2 mb2 db w-50"
required
/> -->
      <input type="text" x-model="nomorakta"  maxlength="8" minlength="8" placeholder="DDMMYYYY" pattern="[0-9]{2}[0-9]{2}(19|20){2}"
        class="input-reset ba b--black-20 pa2 mb2 db w-50" required />
      <small class="f6 black-60 db mb2">Contoh : 31122022</small>
    </div>
  </div>

</div>
