<div x-show="selected === 'option-7'" class="">
  <div class="pa4 flex flex-column">
    <div class="flex mb2">
      <label for="name" class="w-20 fw7 lh-copy ">Karyawan</label>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-100" type="text" aria-describedby="name-desc" />
    </div>
    <div class="flex mb2">
      <label for="name" class="w-20 fw7 lh-copy">Akta</label>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-third" type="text" aria-describedby="name-desc" placeholder="nomor akta" x-text="nomorakta" />
      <p class=""  x-text="nomorakta" ></p>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-third" type="text" aria-describedby="name-desc" placeholder="jenis akta" />
      <input id="name" class="input-reset ba b--black-20 pa1 db w-third" type="date" aria-describedby="name-desc" placeholder="tanggal" />
    </div>
    <div class="flex mb2">
      <label for="name" class="w-20 fw7 lh-copy">Pihak I</label>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-50" type="text" aria-describedby="name-desc" />
      <input id="name" class="input-reset ba b--black-20 pa1 db w-50" type="text" aria-describedby="name-desc" placeholder="qq" />
    </div>
    <div class="flex mb2">
      <label for="name" class="w-20 fw7 lh-copy">Pihak II</label>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-50" type="text" aria-describedby="name-desc" />
      <input id="name" class="input-reset ba b--black-20 pa1 db w-50" type="text" aria-describedby="name-desc" placeholder="qq" />
    </div>
    <div class="flex mb2">
      <label for="name" class="w-20 fw7 lh-copy">Sertipikat</label>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-third" type="text" aria-describedby="name-desc" placeholder="SHM"/>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-third" type="text" aria-describedby="name-desc" placeholder="Kecamatan" />
      <input id="name" class="input-reset ba b--black-20 pa1 db w-third" type="text" aria-describedby="name-desc" placeholder="Kelurahan"/>
    </div>
    <div class="flex mb2">
      <label for="name" class="w-20 fw7 lh-copy">PBB</label>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-third" type="number" aria-describedby="name-desc" placeholder="NOP"/>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-third" type="number" aria-describedby="name-desc" placeholder="Luas Tanah"/>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-third" type="number" aria-describedby="name-desc" placeholder="Luas Bangunan"/>
    </div>
    <div class="flex mb2">
      <label for="name" class="w-20 fw7 lh-copy">NJOP / Pinjaman</label>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-100" type="number" aria-describedby="name-desc" placeholder="Rp."/>
    </div>
    <div class="flex mb2">
      <label for="name" class="w-20 fw7 lh-copy">Transaksi / Nilai HT</label>
      <input id="name" class="input-reset ba b--black-20 pa1 db w-100" type="number" aria-describedby="name-desc" placeholder="Rp."/>
    </div>
  </div>

  <button class="fr mr4">Submit</button>
</div>
