<div x-show="selected === 'option-1'" class="">
  <div class="pa4 flex ">
    <div class="w-25 mr2">
      <div
        role="img"
        aria-label="Bottle Rocket movie"
        class="aspect-ratio--4x6"
        style="
        background: url(https://s3-us-west-1.amazonaws.com/tachyonsio/img/bottlerocket.jpg)
          no-repeat center center;
        background-size: cover;
        "
      ></div>
    </div>
    <fieldset id="w-75 favorite_movies" class="bn">
      <legend class="fw7 mb2">
        Nama karyawan yang mengerjakan akta ini
      </legend>
      <div class="flex items-center mb2">
        <input
          class="mr2"
          type="radio"
          id="diehard"
          name="karyawan"
          value="diehard"
        />
        <label for="diehard" class="lh-copy">Yuni</label>
      </div>
      <div class="flex items-center mb2">
        <input
          class="mr2"
          type="radio"
          id="primer"
          name="karyawan"
          value="primer"
        />
        <label for="primer" class="lh-copy">Bia</label>
      </div>
      <div class="flex items-center mb2">
        <input
          class="mr2"
          type="radio"
          id="proxy"
          name="karyawan"
          value="proxy"
        />
        <label for="proxy" class="lh-copy">Oci</label>
      </div>
      <div class="flex items-center mb2">
        <input
          class="mr2"
          type="radio"
          id="diehard"
          name="karyawan"
          value="diehard"
        />
        <label for="diehard" class="lh-copy">Nomo</label>
      </div>
      <div class="flex items-center mb2">
        <input
          class="mr2"
          type="radio"
          id="primer"
          name="karyawan"
          value="primer"
        />
        <label for="primer" class="lh-copy">PA</label>
      </div>
      <div class="flex items-center mb2">
        <input
          class="mr2"
          type="radio"
          id="proxy"
          name="karyawan"
          value="proxy"
        />
        <label for="proxy" class="lh-copy">Magang</label>
      </div>
    </fieldset>
  </div>
  <div class="flex">
    <div
      class="w-50 link pa4 tc"
    ></div>
    <a
      class="w-50 bg-black-10 link pa4 tc"
      href="#option-2"
      x-on:click="selected = 'option-2'"
    >Next</a>
  </div>
</div>
